.gradle/
./idea/copyright/
.idea/dictionaries/
.idea/libraries/
build/
captures/

.DS_Store
.externalNativeBuild
*.iml
local.properties
.idea/workspace.xml
.idea/modules.xml
app/src/main/res/drawable/funny_pic.PNG
.idea/modules.xml
